<div class="container">
  <div class="row head">
    <div class="col-12 alignc">
      <h5>New Resource</h5>
    </div>
  </div>
  <form class="settingBar" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="row">
      <div class="col-1">
        <label>User&nbsp;Code:</label>
      </div>
      <div class="col-5 ">
        <input class="inputBar" type="text" maxlength="20" name="usercode" [(ngModel)]="res.user_code" required />
      </div>
      <div class="col-1">
        <label>Title:</label>
      </div>
      <div class="col-5 ">
        <input class="inputBar" type="text" maxlength="30" name="title" [(ngModel)]="res.title" required />
      </div>
    </div>
    <div class="row" style="margin-top:5px">
      <div class="col-1">
        <label>URL:</label>
      </div>
      <div class="col-5">
        <input class="inputBar" type="text" name="url" [(ngModel)]="res.url" required />
      </div>

      <div class="col-1">
        <label>Category:</label>
      </div>
      <div class="col-5">
        <select class="custom-select" id="inputGroupSelect01" name="category" [(ngModel)]="res.resource_CategoryId" required>
          <option selected value="0">Choose...</option>
          <option *ngFor="let rc of resCateList" [value]="rc.id">{{rc.category_name}}</option>
        </select>
      </div>
    </div>
    <div class="row" style="margin-top:5px">
      <div class="col-1">
        <label>IsActive:</label>
      </div>
      <div class="col-5">
        <label class="switch">
          <input type="checkbox" class="icon-size" (change)="setActive($event)">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="col-6">
        <label>Resource&nbsp;Image</label>
        <input type="file" (change)="uploadImg($event)" />
      </div>
    </div>
    <div class="row" style="margin-top:5px">
      <div class="col-12 alignc">
        Description
      </div>
      <div class="col-12">
        <textarea class="fullwh" name="desc" style="height:150px;" [(ngModel)]="res.desc">

        </textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-6 alignc">
        <button class="btn btn-warning" type="button" routerLink="/mr">Cancel</button>
      </div>
      <div class="col-6 alignc">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
