/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.fullw{
  width:100%
}
.fullh{
  height:100%;
}
.fullwh{
  width:100%;
  height:100%;
}
.alignc{
  text-align:center;
}
.alignr{
  text-align:right;
}
